<a href="https://colab.research.google.com/github/mamun2576/oop_For_python/blob/master/oop%2Blab_1%2B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***First python program.***

In [ ]:
print("Mamun")

Mamun

**Variables and Assignment statements**

In [ ]:
m=4
n=6
print(m+n)

10

In [ ]:
name="Mamun"
name2="islam"
print(name,name2)

Mamun islam

#Type

In [ ]:
m=20
type(m)

int

In [ ]:
type(3.1416)

float

In [ ]:
type(name)

str

**Arithmetic operators**

In [ ]:
sum=10+10
print(sum)

20

In [ ]:
sub=10-20
print(sub)

-10

In [ ]:
multi=5*5
print(multi)

25

In [ ]:
exponentiation=20**2
print(exponentiation)

400

**True division vs Floor divition**

In [ ]:
True_division=6/5
print(True_division)

1.2

In [ ]:
Floor_division=6//5
print(Floor_division)

1

In [ ]:
remainder=14%7
print(remainder)

0

***IF STATEMENT***

In [ ]:
mark=80
if mark>=60:
  print("passed")

passed

**IF ELSE STATEMENT**

In [ ]:
mark=int(input("Enter the mark: "))
if mark>=60:
  print("passed")
else:
   print("Fail")

Enter the mark: 40
Fail

#CONDITIONAL EXPRESION

In [ ]:
result=('passed' if mark>=60 else 'Failed')
print(result)

Failed

**IF...ELIF..ELSE STATEMENT**

In [ ]:
mark=int(input("Enter the marks: "))
if mark>=80:
   print('A+')
elif mark>=75:
  print('A')
elif mark>=70:
  print('A-')
elif mark>=65:
   print('B+')
elif mark>=60:
  print('B')
elif mark>=55:
  print('C+')
elif mark>=50:
  print('C')
elif mark>=45:
  print('D+')
elif mark>=40:
  print('D')
else:
  print('F')

Enter the marks: 45
D+

**WHILE STATEMENT**

In [ ]:
num=int(input("Enter the number: "))
while (num<=10):
  print(num, end=" ")
  num+=1

Enter the number: 1
1 2 3 4 5 6 7 8 9 10

**while statement to find the first power of 3 larger than 50:**

In [2]:
product =int(input("Enter the number: "))

while product<=50:
  product = product*3
print(product)

Enter the number: 3
81

**For statement**

In [3]:
for character in "mamun":
  print(character, end=" ")

m a m u n

In [ ]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

**Built in Range Function**

In [ ]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

*Nested For Loop*

In [4]:
n=int(input("Enter the number: "))
for left in range(n):
    for right in range(left,n):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

Enter the number: 7
[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

**Break statement**

In [5]:
n=int(input("Enter the number: "))
for number in range(n):
  if  number==5:
    break
  print(number, end=" ")

Enter the number: 10
0 1 2 3 4

**Continue statement**

In [6]:
n=int(input("Enter the range: "))
for number in range(n):
  if  number==5:
    continue
  print(number, end=" ")

Enter the range: 10
0 1 2 3 4 6 7 8 9

**uri problem solve** Extremely basic

In [7]:
m1 = int(input())
m2 = int(input())
x = m1 + m2
print("X = %i"% x)

10
9
X = 19

**uri problem Area of circle**

In [9]:
raio=float(input())

area=(raio*raio)*3.1416
print("A=%0.4f"%area)

2
A=12.5664

uri problem solve**Difference**

In [10]:
m1= int(input())
m2= int(input())
m3= int(input())
m4= int(input())

difference=((m1 * m2) - (m3 * m4))

print("DIFERENCA = %d" %difference)

5
6
7
8
DIFERENCA = -26

**Age in Days uri problem solve**

In [12]:
n= int(input())
a = n / 365
rA = n % 365
rM = rA % 30
m = rA / 30
d = rM % 30
print("{} ano(s)".format(int(a)))
print("{} mes(es)".format(int(m)))
print("{} dia(s)".format(int(d)))

400
1 ano(s)
1 mes(es)
5 dia(s)

***Extrea practice***

#**User input and add two number:**

In [ ]:
num1=input('Enter the first number: ')
num2=input('Enter the second number: ')
sum=float(num1)+float(num2)
print("Total sum of num1 and num2 is= ",sum)

Enter the first number: 4
Enter the second number: 6
Total sum of num1 and num2 is=  10.0

In [ ]:
def multiplication_or_sum(m1,m2):
    product=m1*m2
    if product<=1000:
        return product
    else:
        return m1+m2
    m1=20
    m2=30
    print("\n")
    result= multiplication_or_sum(m1,m2)
    print("The result is",result)

#**Check if number is even or odd:**

In [ ]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 7
This is an odd number.

#**Counts the number of even and odd numbers from a series of numbers.**

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
count_odd = 0
count_even = 0
for x in numbers:
        if x % 2:
    	     count_odd+=1
        else:
    	     count_even+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5